.hero {
    background: url('images/landscapes/Needles.jpg') center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px; /* Additional padding to avoid overlay with the header */
}

.hero-content {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the div takes the full width of its parent */
}

.hero-content h1, .hero-content h2 {
    display: block; /* Stack the h1 and h2 */
    color: #050403;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6); /* Text shadow for readability */
    margin: 0 auto; /* Auto margins for horizontal centering */
    padding: 0.5em 0; /* Padding to ensure spacing around text */
    max-width: none; /* Ensure no max-width is restricting the text */
}

/* Responsive Text Sizing */
@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 6vw; /* Adjust font size based on viewport width */
    }

    .hero-content h2 {
        font-size: 3.5vw; /* Adjust font size based on viewport width */
    }
}

@media screen and (max-width: 480px) {
    .hero-content h1 {
        font-size: 8vw;
    }

    .hero-content h2 {
        font-size: 5vw;
    }
}
