/* Global Resets & Font Definitions */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
    font-family: 'Spectral', serif;
    color: #050403;
    background-color: #cfb699;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main Layout Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    background-color: transparent; /* Transparent background initially */
    color: #050403;
    padding: 10px 0;
    position: fixed; /* Fixed position for a sticky header */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: padding 0.3s; /* Transition for the padding */
}

header.scrolled {
    padding: 5px 0; /* Reduce padding on scroll for a tighter header */
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    transition: background-color 0.3s; /* Transition for the background color */
}

.nav-bar.scrolled {
    background-color: rgba(243, 238, 197, 0.8); /* Half-opaque background after scrolling */
}

.logo {
    flex: 0 0 50px; /* Flex sizing, with a basis of 50px */
}

.logo img {
    height: 40px; /* Adjust the size of your logo */
}

/* Navigation Items */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; /* Remove margin to align with the logo */
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    color: #050403;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #a56942;
}

/* Hero Section */
.hero {
    background: url('images/landscapes/Needles.jpg') center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px; /* Additional padding to avoid overlay with the header */
}

.hero-content {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the div takes the full width of its parent */
}

.hero-content h1, .hero-content h2 {
    display: block; /* Stack the h1 and h2 */
    color: #050403;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6); /* Text shadow for readability */
    margin: 0 auto; /* Auto margins for horizontal centering */
    padding: 0.5em 0; /* Padding to ensure spacing around text */
    max-width: none; /* Ensure no max-width is restricting the text */
}

/* Responsive Text Sizing */
@media screen and (width: 100%) {
    .hero-content h1 {
        font-size: 6vw; /* Adjust font size based on viewport width */
    }

    .hero-content h2 {
        font-size: 3.5vw; /* Adjust font size based on viewport width */
    }
}

@media screen and (width: 100%) {
    .hero-content h1 {
        font-size: 8vw;
    }

    .hero-content h2 {
        font-size: 5vw;
    }
}

